/*
 * Copyright (c) 2025 Camilo Martinez (Equiman)
 * SPDX-License-Identifier: MIT
 *
 * Documentation:
 * @see https://zmk.dev/docs/behaviors/hold-tap
 * @see https://zmk.dev/docs/behaviors/mod-morph
 * @see https://zmk.dev/docs/behaviors/macros
 * @see https://zmk.dev/docs/behaviors/layers
 * @see https://zmk.dev/docs/keymaps/key-codes
 */

/*
 * @brief Macro for Momentary Toggle on Hold (Layers)
 *
 * This macro defines a ZMK hold-tap behavior, allowing for three-layer combinations
 * on a single key. It's designed for scenarios where a key needs to switch
 * between different layers based on a hold or a tap action.
 *
 * - **Hold Action:** Momentarily switches the active layer between the `MO` (Momentary)
 * and `CB` (Callback) layers. The `flavor = "hold-preferred"` setting ensures the
 * hold action is prioritized.
 * - **Tap Action:** Switches to the `TO` (Target) layer upon a quick tap.
 *
 * @param MO Momentary Layer: The layer activated when the key is held.
 * @param CB Callback Layer: The layer active on hold release (or a secondary layer
 * associated with the hold action).
 * @param TO Target Layer: The layer activated when the key is tapped.
 */

#define HOLD_MOTO(MO, CB, TO)                                \
    mo_##MO##CB##_to_##TO##: hold_mo_##MO##CB##_to_##TO## {  \
        compatible = "zmk,behavior-hold-tap";                \
        #binding-cells = <2>;                                \
        tapping-term-ms = <HP_TAPPING>;                      \
        flavor = "hold-preferred";                           \
        bindings = <&mo_##MO##_to_##CB>, <&to_##TO##>;       \
    };

/*
 * @brief Macro for Home Row Hold (Morph)
 *
 * This macro defines a ZMK hold-tap behavior to combine a home row key
 * with a modifier or a custom "morph" action. It allows a single home row key
 * to function as a standard key on tap, and as a modifier or complex behavior
 * when held.
 *
 * @param LYR Layer: The base layer where this behavior is primarily active.
 * @param MOD Modifier: The modifier key (e.g., `LG`, `LS`, `LA`, `LC`)
 * applied when the key is held.
 * @param MP Morphe: Custom key morph with different  The behavior (e.g., a keycode or a custom macro)
 * executed when the key is tapped.
 */

#define HOLD_HR(LYR, MOD, MP)                       \
    hm_##LYR##_##MOD##: hold_hm_##LYR##_##MOD## {   \
        compatible = "zmk,behavior-hold-tap";       \
        #binding-cells = <2>;                       \
        tapping-term-ms = <HR_TAPPING>;             \
        quick-tap-ms = <HR_QUICK_TAP>;              \
        flavor = HR_FLAVOR;                         \
        bindings = <&kp>, <&MP>;                    \
    };
