#define KEY_SPC  &kp  SPACE

// tap:   escape       
// hold:  BAS layer
// shift: caps lock
#define MKY_ESC  &mp_key_bas

// tap:  return
// hold: F2 (easy rename on ide)
#define MKY_RET  &mt  F2  RET

/* Side Key Positions */
#define KP_LEFT   0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34
#define KP_RIGHT  5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37
