/* Layers */
#define mBAS  0
#define mDEV  1
#define mAXN  2
#define mFNK  3
#define mSTG  4

/* Helpers Keys Caps */
#define FK_CWR  F13

/* Helpers Keys Layers */
#define FK_BAS  LS(F14)
#define FK_DEV  LS(F15)
#define FK_AXN  LS(F16)
#define FK_FNK  LS(F17)
#define FK_STG  LS(F18)
