cw_mCAPS: cw_mCAPS {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    tap-ms = <MC_TAP>;
    bindings
        = <&kp LS(H_mCWR)>
        , <&kp CAPS>;
};

cw_mON: cw_mON {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&kp LA(H_mCWR)>
        , <&cw>;
};

cw_mOFF: cw_mOFF {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&kp LS(LC(H_mCWR))>
        , <&kp K_CANCEL>;
};