m_caps_word_CAPS: m_caps_word_CAPS {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    tap-ms = <MC_TAP>;
    bindings
        = <&kp LS(H_mCWR)>
        , <&kp CAPS>;
};

m_caps_word_ON: m_caps_word_ON {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&kp LA(H_mCWR)>
        , <&cw>;
};

m_caps_word_OFF: m_caps_word_OFF {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&kp LS(LC(H_mCWR))>
        , <&kp K_CANCEL>;
};