// mp_DEV_pound
MORPH_KA(
    DEV,
    pound,
    pound,
    MOD_LALT,
    &kp POUND,  // tap:  #
    &kp LA(N0)  // alt:  °
)

// mp_DEV_money
MORPH_KA(
    DEV,
    money,
    money,
    MOD_LALT,
    &kp DLLR,       // tap:  $
    &kp LA(LS(N2))  // alt:  €
)

// mp_DEV_lb
MORPH_KA(
    DEV,
    lb,
    left_brackets,
    MOD_LALT,
    &kp LBKT,     // tap:  [
    &kp LA(BSLH)  // alt:  «
)

// mp_DEV_rb
MORPH_KA(
    DEV,
    rb,
    right_brackets,
    MOD_LALT|MOD_RALT,
    &kp RBKT,         // tap:  ]
    &kp LA(LS(BSLH))  // alt:  »
)

// mp_DEV_qs
MORPH_KA(
    DEV,
    qs,
    question_symbol,
    MOD_LALT,
    &kp QMARK,        // tap:  ?
    &kp LA(LS(FSLH))  // alt:  ¿
)

// mp_DEV_es
MORPH_KA(
    DEV,
    es,
    exclamation_symbol,
    MOD_LALT,
    &kp EXCL,   // tap:  !
    &kp LA(N1)  // alt:  ¡
)

// mp_DEV_ql
MORPH_KS(
    DEV,
    ql,
    question_logical,
    &m_operator_oco,  // tap:    ?.
    &m_operator_cto   // shift:  ?░:░
)

// mp_DEV_t
MORPH_KA(
    DEV,
    t,
    terminal,
    MOD_LALT,
    &kp LC(GRAVE),   // tap:  ide terminal ¦ shift: new terminal
    &kp LA(GRAVE)    // alt:  ide terminal mini/maxi-mize
)
