// tap:   escape      
// hold:  to BAS layer
// shift: caps lock
mp_key_bas: morph_key_bas_layer {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&to_BAS_kp 0 ESC>, <&m_caps_word_CAPS>;
};

// mp_BAS_al
MORPH_KS(
    BAS,
    al,
    axn_left,
    &mo_AXN_to_BAS_kp 0 TAB,    // tap: tab ¦ hold: to AXN momentary
    &kp LS(TAB),                // shift: reverse tab
)

//mp_BAS_sr
MORPH_KASAS(
    BAS,
    sr,
    stg_right,
    MOD_RSFT,
    &mo_STG_to_BAS,             // hold: to STG momentary
    &none,
    &none,
    &to_STG                     // shitf+alt: to STG layer
)
