// tap:   escape      
// hold:  to BAS layer
// shift: caps lock
mp_key_bas: morph_key_bas_layer {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&to_BAS_kp 0 ESC>, <&m_caps_word_CAPS>;
};

//mp_BAS_dl
MORPH_KASAS(
    BAS,
    dl,
    dev_left,
    MOD_LSFT,
    &mo_DEV_to_BAS_kp 0 RIGHT,  // tap: right arrow ¦ hold: to DEV momentary
    &none,
    &none,
    &to_DEV                     // shitf+alt: to DEV layer
)

//mp_BAS_al
MORPH_KASAS(
    BAS,
    al,
    axn_left,
    MOD_LSFT,
    &mo_AXN_to_BAS_kp 0 TAB,    // tap: tab ¦ hold: to AXN momentary
    &none,
    &none,
    &to_AXN                     // shitf+alt: to AXN layer
)

// tap:   tab       
// hold:  to AXN momentary
// alt:   to AXN layer
mp_key_axn: morph_key_axn_layer {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mo_AXN_to_BAS_kp 0 TAB>, <&to_AXN>;
};

// tap:  backspace       
// hold: to AXN momentary
// alt:  to FNK layer
mp_key_fnk: morph_key_fnk_layer {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mo_AXN_to_BAS_kp 0 BSPC>, <&to_FNK>;
};

// tap:  delete    
// hold: to DEV momentary
// alt:  to DEV layer
mp_key_dev_left: morph_key_dev_left_layer {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mo_DEV_to_BAS_kp 0 DEL>, <&to_DEV>;
};

// hold:  to STG momentary
// alt:   to STG layer
mp_key_stg: morph_stg_layer {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mo_STG_to_BAS>, <&to_STG>;
};
