// mp_STG_z
MORPH_KS(
    STG,
    z,
    zoom,
    &kp RG(N0),                 // tap:   zoom reset
    &kp RG(KP_N0)               // shift: zoom reset vscode
)

// mp_STG_f
MORPH_KS(
    STG,
    f,
    files,
    &kp LA(LG(SPACE)),          // tap:   finder
    &kp LS(LG(DOT))             // shift: show/hide system files
)

// mp_STG_screenshot
MORPH_KAS(
    STG,
    screenshot,
    screenshot,
    MOD_LALT,
    &kp RS(RG(N5)),             // tap:   screenshot and recording options
    &kp RC(S),                  // alt:   screenshot with teampaper
    &kp RG(N4)                  // shift: screenshot of selected area
)
// ctrl: adding ctrl key copy to clipboard instead of saving a file

// mp_STG_topleft
MORPH_KA(
    STG,
    topleft,
    topleft,
    MOD_LALT,
    &kp LS(LG(E)),              // tap:   ide explorer
    &kp LS(LA(LG(LC(LEFT))))    // alt:   rectangle top left
)

// mp_STG_up
MORPH_KA(
    STG,
    up,
    up,
    MOD_LALT,
    &kp LS(LC(G)),              // tap:   ide source control
    &kp LS(LA(LG(UP)))          // alt:   rectangle top half
)

// mp_STG_topright
MORPH_KA(
    STG,
    topright,
    topright,
    MOD_LALT,
    &kp LS(LG(D)),              // tap:   ide debugger
    &kp LS(LA(LG(LC(RIGHT))))   // alt:   rectangle top right
)

// mp_STG_left
MORPH_KA(
    STG,
    left,
    left,
    MOD_LALT,
    &kp LG(B),                  // tap:   ide toggle primary side bar 
    &kp LA(LG(LS(LEFT)))        // alt:   rectangle left
)

// mp_STG_rectangle
MORPH_KAS(
    STG,
    rectangle,
    rectangle,
    MOD_LALT,
    &kp LA(LC(F)),              // tap:   maximize
    &kp LA(LC(BACKSPACE)),      // alt:   restore
    &kp LS(LA(LC(F)))           // shift: center
)

// mp_STG_right
MORPH_KA(
    STG,
    right,
    right,
    MOD_LALT,
    &kp LA(LG(B)),              // tap:   ide toggle secondary side bar 
    &kp LA(LG(LS(RIGHT)))       // alt:   rectangle right
)

// mp_STG_downleft
MORPH_KA(
    STG,
    downleft,
    downleft,
    MOD_LALT,
    &none,                      // tap:   none
    &kp LA(LG(LC(LEFT)))        // alt:   rectangle down left
)

// mp_STG_down
MORPH_KA(
    STG,
    down,
    down,
    MOD_LALT,
    &kp LG(J),                 // tap:   ide toggle panel bottom bar 
    &kp LS(LA(LG(DOWN)))       // alt:   rectangle right
)

// mp_STG_downright
MORPH_KA(
    STG,
    downright,
    downright,
    MOD_LALT,
    &none,                      // tap:   none
    &kp LA(LG(LC(RIGHT)))       // alt:   rectangle down right
)

// mp_STG_m
MORPH_KA(
    STG,
    m,
    mute,
    MOD_LALT,
    &kp C_MUTE,                 // tap:   volume mute
    &kp LS(LA(LC(LG(M))))       // shift: mic mute
)
