combo_mCW_on {
    bindings = <&cw_mON>;
    key-positions = <13 16>;
    slow-release;
    layers = <mBAS>;
};

combo_mCW_off {
    bindings = <&cw_mOFF>;
    key-positions = <11 18>;
    slow-release;
    layers = <mBAS>;
};