HR_HOLD(BAS, RS, mp_locale_n)  //hm_BAS_RS
HR_HOLD(BAS, RA, mp_locale_e)  //hm_BAS_RA
HR_HOLD(BAS, LC, mp_locale_a)  //hm_BAS_LC
HR_HOLD(BAS, RC, mp_locale_i)  //hm_BAS_RC
HR_HOLD(BAS, RG, mp_locale_o)  //hm_BAS_RG