HOLD_HR(BAS, RS, mp_locale_n)  //hm_BAS_RS
HOLD_HR(BAS, RA, mp_locale_e)  //hm_BAS_RA
HOLD_HR(BAS, LC, mp_locale_a)  //hm_BAS_LC
HOLD_HR(BAS, RC, mp_locale_i)  //hm_BAS_RC
HOLD_HR(BAS, RG, mp_locale_o)  //hm_BAS_RG