to_mBAS_kp: to_mBAS_kp {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    flavor = "hold-preferred";
    bindings = <&to_mBAS>, <&kp>;
};

mo_mDEV_to_mBAS_kp: mo_mDEV_to_mBAS_kp {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    flavor = "hold-preferred";
    bindings = <&mo_mDEV_to_mBAS>, <&kp>;
}

mo_mAXN_to_mBAS_kp: mo_mAXN_to_mBAS_kp {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    flavor = "hold-preferred";
    bindings = <&mo_mAXN_to_mBAS>, <&kp>;
}

mo_mSTG_to_mBAS_kp: mo_mSTG_to_mBAS_kp {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    flavor = "hold-preferred";
    bindings = <&mo_mSTG_to_mBAS>, <&kp>;
}
