/* Key Positions

      ╭─────────────────────────╮ ╭─────────────────────────╮
      │   0    1    2    3    4 │ │  5    6    7    8    9  │
  ╭───╯  10   11   12   13   14 │ │ 15   16   17   18   19  ╰───╮
  │ 20   21   22   23   24   25 │ │ 26   27   28   29   30   31 │
  ╰─────────────╮  32   33   34 │ │ 35   36   37  ╭─────────────╯
                ╰───────────────╯ ╰───────────────╯

*/

/* Key Name

       ╭─────────────────────────╮ ╭─────────────────────────╮
       │ UL1  UL2  UL3  UL4  UL5 │ │ UR5  UR4  UR3  UR2  UR1 │
  ╭────╯ ML1  ML2  ML3  ML4  ML5 │ │ UM5  UM4  UM3  UM2  UM1 ╰────╮
  │ TL0  BL1  BL2  BL3  BL4  BL5 │ │ UB5  UB4  UB3  UB2  UB1  TR0 │
  ╰─────────────╮  TL1  TL2  TL3 │ │ TR3  TR2  TR1  ╭─────────────╯
                ╰────────────────╯ ╰────────────────╯

*/
