TO_MACRO(w, DEV)  //to_wDEV
TO_MACRO(w, AXN)  //to_wAXN
TO_MACRO(w, FNK)  //to_wFNK
TO_MACRO(w, STG)  //to_wSTG

MOTO_MACRO(w, AXN, BAS)  //mo_wAXN_to_wBAS
MOTO_MACRO(w, DEV, BAS)  //mo_wDEV_to_wBAS
MOTO_MACRO(w, STG, BAS)  //mo_wSTG_to_wBAS